@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
  background: var(--background);
  color: var(--text);
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

a {
  transition-duration: 0.3s;
}

button {
  cursor: pointer;
  transition-duration: 0.3s;
}

input {
  padding: 10px 12px;
  width: 100%;
  outline: none;
  transition: 0.3s;
}
